<div class="container">

  <div class="row">
    <div class="col-md-12">
      <input class="btn btn-primary" type="button" value="Delete All" (click)='deleteAllEvents()'/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{loading}}
      <div class="list-group">
        <div href="#"
          class="list-group-item list-group-item-action flex-column align-items-start"
          *ngFor="let event of events"
          (click)="onEventClick(event.id)" >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{event.title}}</h5>
            <small class="text-muted">{{event.date}} {{event.time}}</small>
          </div>
          <p class="mb-1">{{event.description}}</p>
        </div>
      </div>
      <!-- <ol>
        <li *ngFor="let event of events ">{{event.date}} {{event.time}} : {{event.title}} - {{event.description}}</li>
      </ol> -->
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>
